<launch>
  <!-- start up the camera -->
  <!--<include file="$(find ueye_cam)/launch/xs_bayer_rggb.launch"/>-->
  <!--<node name="spoon_service" pkg="spoon_perception" type="perception_node.py"/>-->

  <include file="$(find niryo_one_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="track_pose_service" pkg="niryo_one_tutorial" type="track_pose_service" respawn="false" output="screen">
    <!--launch-prefix="/home/travers/run_tmux.sh">-->
    <rosparam command="load"
              file="$(find niryo_one_moveit_config)/config/kinematics.yaml"/>
    <param name="sim" type="bool" value="$(arg sim)"/>
    <param name="update_rate_hz" type="double" value="30"/>
    <param name="step_size_meters" type="double" value="0.03"/>
  </node>

  <node name="spoon_feeder" pkg="niryo_one_tutorial" type="spoon_feeder.py"> 
    <param name="z_height" type="double" value="0.05"/>
  </node>
  <node name="play_trajectory_service" pkg="niryo_one_tutorial" type="play_trajectory_server.py"/>

  <!--https://answers.ros.org/question/60975/subscribe-to-new-jointstate-messages/-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["/domus/robot/joint_states"]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find niryo_one_description)/config/default_config.rviz" />
</launch>
