<launch>
  <include file="$(find niryo_one_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="move_to_goal" pkg="niryo_one_tutorial" type="move_to_goal" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find niryo_one_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>
